<%- include("templates/header") %>
    <button class="btn btn-primary rounded-pill px-3" type="button" onclick="location.href='/signup'">Signup</button>
    <br><br>
    <button class="btn btn-primary rounded-pill px-3" type="button" onclick="location.href='/login'">Login</button>
<%- include("templates/footer") %>
