<%- include("templates/header") %>
    <h1>Welcome <%= username %></h1>
    <br>
    <div class="row mb-3 text-center">
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/fluffy.jpg" alt="fluffy cat"></div>
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/smilin.jpg" alt="smilling cat"></div>
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/wdym.jpg" alt="confuse cat"></div>
      </div>
    
    
    
    <br>
    <a href="/logout">Log out</a>
<%- include("templates/footer") %>